<footer class="bg-light py-4 mt-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 text-center">
        <p class="text-muted mb-0">
          <a
            class="text-secondary"
            href="https://support.sitecore.com/csm"
            target="_blank"
            >Support</a
          >
        </p>
      </div>
      <!-- TODO: Reinstate when we are ready to support -->
      <!-- <div class="col-md-5">
        <button class="btn btn-sm btn-primary"
                (click)="submitClaim()">Submit Claim</button>
      </div> -->
    </div>
  </div>
</footer>

<!-- <div class="bg-medium">
  <div class="container py-2 text-center">
    <small class="text-dark" translate>LAYOUT.APP_FOOTER.CREATED_BY</small>
  </div>
</div> -->
