// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Reference node_modules/bootstrap/scss/_variables.scss and copy any EXISTING
// variables that you wish to override below. If you are creating NEW variables,
// add directly to: src/styles/themes/_default.scss
// -----------------------------------------------------------------------------

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';

$base-url:          '/assets/' !default;
$icon-font-path:    '~bootstrap-sass/assets/fonts/bootstrap/';

$gray-600: #C8C8C8 !default;
$gray-900: #212529 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #333378 !default;
$purple:  #5548D9 !default;
$pink:    #AB0000 !default;
$red:     #EB1F1F !default;
$orange:  #FFB204 !default;
$yellow:  #FFE007 !default;
$green:   #005E6E !default;
$teal:    #02999A !default;
$cyan:    #17a2b8 !default;

$primary:       $red !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$font-family-sans-serif:      "Avenir Next LT Pro", sans-serif !default;
$font-family-monospace:       "Avenir Next LT Pro", "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;