<div class="container">
  <div class="order-detail-pdf-range">
    <div *ngIf="order">
      <nav *ngIf="!isAnon" class="breadcrumb" aria-label="breadcrumb">
        <a class="breadcrumb-item" (click)="toAllOrders()" translate
          >ORDERS.DETAIL.ALL</a
        >
        <a class="breadcrumb-item" aria-current="page">{{ order.ID }}</a>
      </nav>
      <div
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-between
          pb-2
          mt-4
          mb-2
        "
      >
        <h2>
          <span class="text-muted"
            ><span translate>ORDERS.DETAIL.ORDER</span> #:</span
          >
          {{ order.ID }}
          <span
            *ngIf="order.xp.OrderType === 'Quote'"
            class="badge badge-pill badge-primary ml-2"
            >{{ order.xp.OrderType }}</span
          >
        </h2>
        <ng-container *ngIf="subView === 'details'">
          <div>
            <a
              [href]="doceboURL"
              class="btn btn-sm btn-outline-info"
              role="button"
              >Return to learning.sitecore.com
            </a>
            <button
              class="btn btn-sm btn-outline-primary d-print-none"
              (click)="createAndSavePDF()"
              type="button"
              translate
            >
              ORDERS.DETAIL.DOWNLOAD_AS_PDF
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <ul *ngIf="!approvalVersion" class="nav nav-tabs mb-2 mt-4 d-print-none">
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-link nav-link"
          [ngClass]="{ active: subView == 'details' }"
          (click)="toDetails()"
          translate
        >
          <fa-icon [icon]="faCube"></fa-icon>
          ORDERS.DETAIL.DETAILS
        </button>
      </li>
    </ul>
    <ocm-order-historical
      class="d-block p-3"
      *ngIf="
        orderDetails &&
        showDetails() &&
        !showRequestReturn &&
        !showRequestCancel
      "
      [isOrderToApprove]="isOrderToApprove"
      [orderDetails]="orderDetails"
    >
    </ocm-order-historical>
  </div>
  <ocm-order-shipments
    class="d-block p-3"
    *ngIf="showShipments() && !showRequestReturn"
    [orderID]="order?.ID"
  >
  </ocm-order-shipments>
  <ocm-order-rmas
    *ngIf="showRMAs() && !showRequestReturn"
    [orderDetails]="orderDetails"
  >
  </ocm-order-rmas>
  <ocm-order-return
    class="d-block p-3"
    *ngIf="showRequestReturn || showRequestCancel"
    (viewReturnFormEvent)="toggleShowRequestForm($event.detail)"
    [isOrderToApprove]="isOrderToApprove"
    [orderDetails]="orderDetails"
    [action]="showRequestReturn ? 'return' : 'cancel'"
  >
  </ocm-order-return>
</div>
