<div *ngIf="orderSummaryMeta">
  <div class="form-group">
    <button
      *ngFor="let method of _acceptedPaymentMethods; let i = index"
      class="form-check"
      [class.active]="selectedPaymentMethod === method"
      type="button"
      class="btn btn-outline-primary"
      [disabled]="
        (method == 'PurchaseOrder' && disablePO) ||
        (method == 'CreditCard' && disableCC)
      "
      (click)="selectPaymentMethod($event)"
      name="{{ i }}"
      id="{{ i }}"
      value="{{ method }}"
    >
      {{ getPaymentMethodName(method) }}
    </button>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="disablePO">
    Unfortunately your order does not meet the requirements for payment via
    purchase order. Please select another method of payment or
    <a href="https://support.sitecore.com/csm" target="_blank"
      >submit a Learning@Sitecore ticket</a
    >
    for further assistance.
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="japanOrder">
    <span
      >日本にお住まいのお客様へ。クレジットカード決済の導入にあたり只今検討中でございます。ご不便をおかけし申し訳ございません。他のお支払い方法をお選びいただくか、
      <a href="mailto:GlobalTraining@Sitecore.com" target="_blank"
        >GlobalTraining@Sitecore.com</a
      >
      までお問合せください。</span
    ><br />
    <span
      >Credit Card purchase Functionality in Japan is current being reviewed and
      will be released soon. We apologize for any inconvenience. Please select
      another method of payment or contact
      <a href="mailto:GlobalTraining@Sitecore.com" target="_blank"
        >GlobalTraining@Sitecore.com</a
      >
      for further assistance.</span
    >
  </div>
  <ng-container
    *ngIf="
      orderSummaryMeta.LineItemCount &&
      selectedPaymentMethod === 'PurchaseOrder'
    "
  >
    <div class="alert alert-warning" role="alert">
      For purchase order payments, please send an electronic copy of your
      purchase order or purchase order email to
      <a href="mailto:GlobalTraining@sitecore.com" target="_blank"
        >GlobalTraining@sitecore.com</a
      >
      for processing.
    </div>
    <small class="d-block font-italic text-muted">
      The price reflected on this order includes an estimate for sales tax and
      shipping costs. Actual final cost may vary slightly as a result. By
      submitting this order, you accept these terms.
      <a
        href="https://learning.sitecore.com/frequently-asked-questions#purchase_order"
        target="_blank"
        >Terms</a
      >
    </small>
    <div class="mt-3">
      <button
        [disabled]="POTermsAccepted"
        type="submit"
        (click)="acceptPOTerms()"
        class="btn btn-info btn-block-xs mr-2"
      >
        Accept
      </button>
      <fa-icon
        *ngIf="POTermsAccepted"
        [icon]="faCheckCircle"
        class="text-success"
      ></fa-icon>
    </div>
  </ng-container>
  <div class="mt-3 form-group">
    <label for="ponumber">Purchase Order Number</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="poNumber"
      (keyup)="poChanged($event)"
      id="ponumber"
      placeholder="Purchase Order Number"
      autocomplete="off"
    />
  </div>
  <div class="mt-3 form-group" *ngIf="!isAnon">
    <label for="selectAddress">Billing Address</label>
    <select
      [ngModel]="selectedBillingAddress?.ID"
      (ngModelChange)="onBillingAddressChange($event)"
      class="custom-select"
      id="selectAddress"
    >
      <option [ngValue]="null" default disabled translate>
        CHECKOUT.CHECKOUT_ADDRESS.SELECT_ADDRESS
      </option>
      <option
        *ngFor="let address of existingBillingAddresses?.Items"
        [ngValue]="address.ID"
      >
        <span class="font-weight-bold"
          >{{ address.Street1
          }}<span *ngIf="address.Street2"> {{ address.Street2 }}</span
          >, {{ address.City }} {{ address.State }} {{ address.Zip }}
        </span>
      </option>
    </select>
    <button
      (click)="showNewAddress()"
      class="btn btn-outline-primary btn-sm mr-2 mt-3"
      translate
    >
      Add New Address
    </button>
  </div>
  <ocm-address-form
    *ngIf="showNewAddressForm && homeCountry"
    [existingAddress]="selectedBillingAddress"
    [suggestedAddresses]="suggestedAddresses"
    [showOptionToSave]="true"
    [homeCountry]="homeCountry"
    [btnText]="'Save and Continue'"
    [addressError]="_addressError"
    (formDismissed)="handleFormDismissed()"
    (formChanged)="addressFormChanged($event.detail)"
    (formSubmitted)="saveAddressesAndContinue($event.detail.address)"
  >
  </ocm-address-form>
  <div [hidden]="japanOrder || showNewAddressForm">
    <ocm-stripe-payment
      *ngIf="
        orderSummaryMeta.LineItemCount &&
        selectedPaymentMethod === 'CreditCard' &&
        order.Total > 0
      "
      [billingAddressCountry]="stripeCountry"
      (cardSelected)="onStripeCardSuccess($event)"
    ></ocm-stripe-payment>
  </div>
  <button
    type="submit"
    (click)="onContinue()"
    *ngIf="selectedPaymentMethod === 'PurchaseOrder'"
    class="btn btn-primary btn-block-xs mt-4 mr-2"
    [disabled]="orderSummaryMeta.LineItemCount && !POTermsAccepted"
  >
    Submit Order
  </button>
</div>
