<section class="container mt-3">
  <h1>FAQ</h1>
  <ul>
    <li>
      <strong>How can I purchase on behalf of others on my team?</strong>
      <ul style="list-style-type: circle">
        <li>
          Each learner will need a Sitecore Learning account in order to
          successfully checkout.&nbsp; Add 1 or more&nbsp; of each
          course&nbsp;you would like to purchase. At checkout, provide the email
          addresses of each learner. Once your order is completed, each learner
          will find the training on their
          <a href="https://learning.sitecore.com/" target="_blank"
            >Sitecore Learning accounts</a
          >.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >Does the person for whom I am buying the product need to already have
        an account in the system?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          Yes. If they do not already have an account, please have them create
          one here:
          <a href="https://www.sitecore.com/account/signup" target="_blank"
            >https://www.sitecore.com/account/signup</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong
        >What should I do if the user I am purchasing on behalf of is not found
        in the system durring checkout?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          If the learner you are trying to purchase training on behalf of is not
          found in the system, please have them create a Sitecore Learning
          account here:
          <a href="https://www.sitecore.com/account/signup" target="_blank"
            >https://www.sitecore.com/account/signup</a
          >. After that, please refresh your cart and proceed to checkout.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >Can I purchase Sitecore training only on behalf of others and not for
        myself?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          Yes, you can purchase Sitecore training on behalf of others without
          purchasing for yourself.&nbsp;During checkout, you will&nbsp;need to
          change your email to someone else&rsquo;s if purchasing by Credit
          Card. If you plan to purchase on behalf of your team via invoice,
          please contact
          <a href="mailto:globaltraining@sitecore.com" target="_blank"
            >globaltraining@sitecore.com</a
          >.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >What forms of payment do you take purchasing Sitecore training
        online?</strong
      >
      <ul style="list-style-type: circle">
        <li>For online purchases, we only take Credit Card.</li>
      </ul>
    </li>
    <li>
      <strong>How can I purchase Sitecore training via invoice or PO?</strong>
      <ul style="list-style-type: circle">
        <li>
          For Sitecore training contract purchases, please email
          globaltraining@sitecore.com.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >How do I register for a specific instructor-led training
        session?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          Once you purchase instructor-led training, you will be enrolled into
          the course. You will then be able to self-enroll into a session of
          your choice within your
          <a href="https://learning.sitecore.com/" target="_blank"
            >Sitecore Learning account</a
          >.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >Where can I purchase Sitecore Certification Exams a la carte?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          To purchase Sitecore Certification Exams with Credit Card, you can
          checkout directly on Kryterion Webassessor:
          <a href="https://webassessor.com/sitecore" target="_blank"
            >https://webassessor.com/sitecore</a
          >
        </li>
        <li>
          To purchase Sitecore Certification Exams via training contract, please
          email
          <a href="mailto:globaltraining@sitecore.com" target="_blank"
            >globaltraining@sitecore.com</a
          >
          with the quantity of each exam you are interested in purchasing.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >When will I be provided with a certification voucher with the purchase
        of a bundle or Professional Plus Learning Subscription?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          You will be emailed a certification voucher within 2 weeks of
          enrollment into the bundle or subscription.
        </li>
      </ul>
    </li>
    <li>
      <strong>Who can I contact for further support?</strong>
      <ul style="list-style-type: circle">
        <li>
          For questions related to your learning or login support, please put in
          a ticket to the
          <a href="https://support.sitecore.com/csm" target="_blank"
            >Sitecore Support & Self-Service Portal.</a
          >
          To put in a training-related support ticket, please follow the
          <a
            href="https://support.sitecore.com/kb?id=kb_article_view&sysparm_article=KB1000647"
            target="_blank"
            >instructions for How to Contact Sitecore Learning Support.</a
          >&nbsp;
        </li>
        <li>
          For general questions and questions related to purchasing Sitecore
          training, please contact
          <a href="mailto:globaltraining@sitecore.com" target="_blank"
            >globaltraining@sitecore.com</a
          >.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >I have enrolled into the Professional/Professional Plus Subscription,
        can I transfer this enrollment over to another user?</strong
      >
      <ul style="list-style-type: circle">
        <li>
          Yes, you are welcome to transfer an enrollment as long it is requested
          within 2 months from the enrollment date, as long as neither the
          included Instructor Led Training and/or the voucher code has been
          used. Please reach out the
          <a href="mailto:Sitecoretraining@sitecore.com" target="_blank"
            >globaltraining@sitecore.com</a
          >
          with the name and email address of the user you wish to transfer the
          training to.
        </li>
      </ul>
    </li>
  </ul>

  <div>
    <div>&nbsp;</div>
  </div>
</section>
